<!-- Header Start -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img class="coffeenet--navbar-logo" src="{{ .Site.BaseURL }}img/logo.png" alt="{{ .Site.Title }} Logo">
        </a>

        {{ if (ne .Site.Menus.header nil)}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ range .Site.Menus.header }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}/">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </nav>
</header><!-- header close -->