<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="The Homepage of the CoffeeNet">
<meta name="theme-color" content="#4DA97F"/>
<link rel="manifest" href="/manifest.json">

<title>{{ .Title }}</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/coffeenet.css"/>

<!-- JS -->
{{ $serviceWorkerTemplate := resources.Get "js/service-worker.js" }}
{{ $serviceWorker := $serviceWorkerTemplate | resources.ExecuteAsTemplate "service-worker.js" . }}
{{ $serviceWorkerPermalink := $serviceWorker.Permalink }}

{{ $appTemplate := resources.Get "js/app.js" }}
{{ $app := $appTemplate | resources.ExecuteAsTemplate "js/app.js" (dict "CoffeeNetServiceWorkerUrl" $serviceWorker.Permalink ) }}
<script src="{{ $app.Permalink }}" async></script>