<section class="coffeenet--project">
    <h2>Projects</h2>
    <div class="coffeenet--project-grid">
        {{ range where .Pages.ByTitle.ByWeight "Section" "projects" }}
        <div class="coffeenet--project-cell">
            <div class="coffeenet--project-cell-header">
                <a href="{{ .URL }}">{{ .Title }}</a>

                {{ if isset .Params "githuburl" }}
                <a href="{{ .Params.githubUrl }}">
                    <img class="coffeenet--project-cell-header-img" src="{{ .Site.BaseURL }}img/GitHub-Mark-32px.png"
                         alt="GitHub Logo">
                </a>
                {{ end }}
            </div>
            <div class="coffeenet--project-cell-content">
                {{ replaceRE "<h2.*" "" ( replaceRE "</h1>" "" ( delimit (findRE "</h1>(?:.|\n)*?(<p.*?>(?:.|\n)*?</p>)(?:.|\n)*?<h2.*?>" .Content) "" ) ) | safeHTML }}

                <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>